<p-card header="Fornecedor" subheader="Cadastro">
  <br />
  <p-header class="controles">
    <button
      pButton
      type="button"
      icon="pi pi-search"
      routerLink="/fornecedor/pesquisa"
    ></button>

    <button
      pButton
      type="button"
      (click)="excluir()"
      icon="pi pi-trash"
      *ngIf="editando"
    ></button>
  </p-header>

  <form [formGroup]="formFornecedor">
    <div class="ui-fluid">
      <div class="p-grid">
        <div class="p-col-4 ui-inputgroup">
          <p-inputMask
            formControlName="cnpj"
            mask="99.999.999/9999-99"
            unmask="true"
            placeholder="Pequise pelo cnpj"
          ></p-inputMask>
          <button
            pButton
            type="button"
            icon='pi pi-search'
            (click)='pesquisaCnpjReceita()'>
          </button>
          </div>
        <div class="p-col-10">
          Razão Social
          <input type="text" pInputText formControlName="razaoSocial" />
        </div>
        <div class="p-col-10">
          Nome Fantasia
          <input type="text" pInputText formControlName="nomeFantasia" />
        </div>
      </div>
    </div>
  </form>
</p-card>
<br />
<p-card header="Contato">
  <app-telefone [telefones]="listaTelefones"></app-telefone>
</p-card>
<br />
<div class="controles">
  <button
    pButton
    type="button"
    label="Salvar"
    (click)="salvar()"
    class="ui-button-success"
  ></button>
  <button
    pButton
    type="button"
    label="Cancelar"
    (click)="cancelar()"
    class="ui-button-secondary"
  ></button>
</div>
