<app-pesquisa
  [form]="formPesquisa"
  param="valorPesquisa"
  (onClickIncluir)="incluir()"
  (onClickPesquisar)="pesquisar()"
  (onClickLimparPesquisa)="limparPesquisa()"
></app-pesquisa>
<p-table
  [value]="entradas"
  autoLayout="true"
  [paginator]="true"
  [rows]="50"
  [loading]="pesquisando"
>
  <ng-template pTemplate="header">
    <tr>
      <th style="width: 60px">Código</th>
      <th>Data</th>
      <th>Tipo de Movimentação</th>
      <th>Fornecedor</th>
      <th>Destino</th>
      <th style="width: 60px">Ações</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-movimentaestoque>
    <tr>
      <td>{{ movimentaestoque.id }}</td>
      <td>{{ movimentaestoque.data | date: "dd/MM/yyyy" }}</td>
      <td>{{ getDescricaoTipo(movimentaestoque.tipo) }}</td>
      <td>
        {{
          movimentaestoque.fornecedor
            ? movimentaestoque.fornecedor.razaoSocial
            : ""
        }}
      </td>
      <td>
        {{
          movimentaestoque.localArmazenamentoDestino
            ? movimentaestoque.localArmazenamentoDestino.nome
            : ""
        }}
      </td>

      <td style="text-align: center">
        <a routerLink="/movimentacaoestoque/{{ movimentaestoque.id }}">
          <span class="pi pi-pencil" style="font-size: x-large"></span>
        </a>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="6">
        <div style="padding: 20px">Nenhum registro listado</div>
      </td>
    </tr>
  </ng-template>
</p-table>
