<h3>Categoria / Cadastro</h3>
<div class='controles'>
    <button pButton type="button" label="Pesquisar" routerLink='/categoria/pesquisa'
        class="ui-button-secondary"></button>
    <button pButton type="button" label="Novo" (click)="novo()" class="ui-button-secondary"></button>
    <button pButton type="button" label="Excluir"  class="ui-button-danger"
        *ngIf='editando'></button><!--(click)="excluir()"-->
</div>
<p-panel header="Identificação">
  <form [formGroup]="formCategoria">
    <div class="ui-fluid">
      <div class="p-grid">
        <div class="p-col-2">
          Código
          <input type="text" pInputText formControlName="id">
        </div>
        <div class="p-col-10">
          Nome (obrigatório)
          <input type="text" pInputText formControlName="nome">
        </div>
        <div class="p-col-10">
          Situação
          <p-dropdown [options]="situacao" formControlName="situacao"></p-dropdown>
        </div>
      </div>
    </div>
  </form>
</p-panel>
<br>
<div class='controles'>
  <button pButton type="button" label="Salvar" (click)="salvar()" class="ui-button-success"></button>
  <button pButton type="button" label="Cancelar" (click)="cancelar()" class="ui-button-secondary"></button>
</div>
