<div class="img">
  <img 
    width="40" 
    alt="Bar Logo" 
    src="../../assets/img/logo.svg" />
  <a routerLink="/inicio">Cleo's Bar</a>
</div>
<div class="sidebar" routerLinkActive="active-link">
  <a routerLink="/inicio">
    <img 
      class="icon"
      alt="Dashboard" 
      src="../../assets/img/menu/dashboard.svg" />
    Página Inicial</a
  >
  <a routerLink="/fornecedor/fornecedor">
    <img
      class="icon"
      alt="Fornecedor"
      src="../../assets/img/menu/fornecedor.svg"
    />
    Fornecedores</a
  >
    <a routerLink='/municipio/pesquisa'>Municípios</a>
    <a routerLink='/pessoa/pesquisa'>Pessoas</a>-->
</div>
