<div class="img">
  <img 
    width="40" 
    alt="Bar Logo" 
    src="../../assets/img/logo.svg" />
  <a routerLink="/inicio">Cleo's Bar</a>
</div>
<div class="sidebar" routerLinkActive="active-link">
  <a routerLink="/inicio">
    <img 
      class="icon"
      alt="Dashboard" 
      src="../../assets/img/menu/dashboard.svg" />
    Página Inicial</a
  >
  <a routerLink="/fornecedor/fornecedor">
    <img
      class="icon"
      alt="Fornecedor"
      src="../../assets/img/menu/fornecedor.svg"
    />
    Fornecedores</a
  >
  <a routerLink="/categoria/categoria">
    <img 
      class="icon" 
      alt="Categoria" 
      src="../../assets/img/menu/categories.svg" />
    Categorias</a
  >
  <a routerLink="/produto/produto">
    <img 
      class="icon" 
      alt="produtos" 
      src="../../assets/img/menu/produtos.svg" />
    Produtos</a
  >
  <a routerLink="/localarmazenamento/localarmazenamento">
    <img 
      class="icon" 
      alt="Local de Armazenamento" 
      src="../../assets/img/menu/boxes.svg" />
    Local de Armazenamento</a
  >
  <a routerLink="/movimentacaoestoque/movimentacaoestoque">
    <img 
      class="icon" 
      alt="Movimentação de Estoque" 
      src="../../assets/img/menu/inventory.svg" />
    Movimentação de Estoque</a
  >
  <a routerLink="/cliente">
    <img 
      class="icon" 
      alt="Local de Armazenamento" 
      src="../../assets/img/menu/shopping.svg" />
    Cliente</a
    >
  <!--<a routerLink='/unidademedida/unidademedida'>Unidade de Medida</a>
    <a routerLink='/municipio/pesquisa'>Municípios</a>
    <a routerLink='/pessoa/pesquisa'>Pessoas</a>
    <a href='http://www.google.com.br' target='_blank' (click)='ajuda()'>Ajuda</a>-->
</div>
