.sidebar a {
    padding: 6px 8px 6px 16px;
    font-size: 14px;
    text-decoration: none;
    display: block;
    color: white;
    padding: 12px;
}

.sidebar a:hover {
    color: #bedeff;
}

.active-link {
    color: red;
}

.img {
    display: flex;
    align-items: center;
    color: white;
    font-size: 16px ;
    justify-content: center;
    margin-bottom: 30px;
}
.img a {
    color: white;
    text-decoration: none;
}
