<div class='sidebar' routerLinkActive="active-link">
    <a routerLink='/inicio'>Página Inicial</a>
    <a routerLink='/fornecedor/fornecedor'>Fornecedores</a>
    <a routerLink='/categoria/categoria'>Categorias</a>
    <a routerLink='/unidademedida/unidademedida'>Unidade de Medida</a>
    <a routerLink='/produto/produto'>Produtos</a>
    <a routerLink='/entradaproduto/entradamedida'>Entradas</a>
    <a routerLink='/municipio/pesquisa'>Municípios</a>
    <a routerLink='/pessoa/pesquisa'>Pessoas</a>
    <a href='http://www.google.com.br' target='_blank' (click)='ajuda()'>Ajuda</a>
</div>
