<p-card header="Local de Armazenamento" subheader="Cadastro">
  <br />
  <p-header class="controles">
    <button
      pButton
      type="button"
      icon="pi pi-search"
      routerLink="/localarmazenamento/pesquisa"
    ></button>

    <button
      pButton
      type="button"
      (click)="excluir()"
      icon="pi pi-trash"
      *ngIf="editando"
    ></button>
  </p-header>

  <form [formGroup]="formArmazenamento">
    <div class="ui-fluid">
      <div class="p-grid">
        <div class="p-col-10">
          Nome*
          <input type="text" pInputText formControlName="nome" />
        </div>
        <div class="p-col-2">
          Situação
          <p-dropdown
            [options]="situacao"
            formControlName="situacao"
          ></p-dropdown>
        </div>
      </div>
    </div>
  </form>
  <p-footer class="controles">
    <button
      pButton
      type="button"
      label="Salvar"
      (click)="salvar()"
      class="ui-button-success"
    ></button>
    <button
      pButton
      type="button"
      label="Cancelar"
      (click)="cancelar()"
      class="ui-button-secondary"
    ></button>
  </p-footer>
</p-card>
