<app-pesquisa
  [form]="formPesquisa"
  param="valorPesquisa"
  (onClickIncluir)="incluir()"
  (onClickPesquisar)="pesquisar()"
  (onClickLimparPesquisa)="limparPesquisa()"
></app-pesquisa>
<p-table
  [value]="armazenamentos"
  autoLayout="true"
  [paginator]="true"
  [rows]="50"
  [loading]="pesquisando"
>
  <ng-template pTemplate="header">
    <tr>
      <th style="width: 60px">Código</th>
      <th>Nome</th>
      <th>Situação</th>
      <th style="width: 60px">Ações</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-armazenamentos>
    <tr>
      <td>{{ armazenamentos.id }}</td>
      <td>{{ armazenamentos.nome }}</td>
      <td>{{ armazenamentos.situacao }}</td>
      <td style="text-align: center">
        <a routerLink="/localarmazenamento/{{ armazenamentos.id }}">
          <span class="pi pi-pencil" style="font-size: x-large"></span>
        </a>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="6">
        <div style="padding: 20px">Nenhum registro listado</div>
      </td>
    </tr>
  </ng-template>
</p-table>