.mat-form-field {
  font-size: 14px;
}/*
.ui-button {
  background-color: #ffffff;
  border: none;
  color: #0ab31f;
  font-size: 40px
}
.ui-button:enabled:hover{
  background-color: #ffffff;
  color: #0ab31f;
}*/
