<app-barraferramenta
  (onClickPesquisar)="pesquisar()"
  (onClickSalvar)="salvar()"
  (onClickCancelar)="cancelar()"
  (onClickExcluir)="excluir()"
  [editando] = "editando"
></app-barraferramenta>

<p-card header="Movimentação de Estoque" subheader="Cadastro">
  <br />
  <form [formGroup]="formMovimentacaoEstoque">
    <div class="ui-fluid">
      <div class="p-grid">
        <div class="p-col-2">
          <p-dropdown
            [options]="tipoMovimentacoes"
            formControlName="tipo"
            (onChange)="onChangeTipo()"
          ></p-dropdown>
        </div>
        <div class="p-col-2">
          <app-calendario [form]="formMovimentacaoEstoque" param="data">
          </app-calendario>
        </div>
        <div class="p-col-12" *ngIf="tipo == TipoMovimentacao.ENTRADA">
          Fornecedor
          <p-autoComplete
            formControlName="fornecedor"
            (onSelect)="onChangeFornecedor()"
            forceSelection="true"
            field="razaoSocial"
            dropdown="true"
            dataKey="id"
            [suggestions]="fornecedores"
            (completeMethod)="pesquisarFornecedores($event)"
          >
          </p-autoComplete>
        </div>
        <div class="p-col-12" *ngIf="tipo == TipoMovimentacao.SAIDA">
          Local de Armazenamento
          <p-autoComplete
            formControlName="localArmazenamento"
            (onSelect)="onChangeLocalArmazenamento()"
            forceSelection="true"
            field="nome"
            dropdown="true"
            dataKey="id"
            [suggestions]="armazenamentos"
            (completeMethod)="pesquisarLocalArmazenamento($event)"
          >
          </p-autoComplete>
        </div>
      </div>
    </div>
  </form>
</p-card>
<br />

<app-entrada 
  [show]="showEntrada" 
  [itensEntrada]="listaEntrada"
></app-entrada>

<app-saida
  [show]="showSaida"
  [itensSaida]="listaSaida"
  [localArmazenamento]="localArmazenamento"
></app-saida>
