<p-toolbar>
  <div class="ui-toolbar-group-left">
    <button
      pButton
      type="button"
      label="Pesquisar"
      icon="pi pi-search"
      (click)="pesquisar()"
    ></button>
  </div>

  <div class="ui-toolbar-group-right">
    <button
      pButton
      type="button"
      label="Salvar"
      icon="pi pi-check"
      class="ui-button-success"
      (click)="salvar()"
    ></button>
    <button
      pButton
      type="button"
      label="Cancelar"
      icon="pi pi-times"
      class="ui-button-danger"
      (click)="cancelar()"
    ></button>
    <button
      pButton
      type="button"
      label="Excluir"
      (click)="excluir()"
      class="ui-button-danger"
      *ngIf="editando"
    ></button>
  </div>
</p-toolbar>
