<h3>Produto / Cadastro</h3>
<div class='controles'>
    <button pButton type="button" label="Pesquisar" routerLink='/produto/pesquisa'
        class="ui-button-secondary"></button>
    <button pButton type="button" label="Novo" (click)="novo()" class="ui-button-secondary"></button>
    <button pButton type="button" label="Excluir"  class="ui-button-danger"
        *ngIf='editando'></button><!--(click)="excluir()"-->
</div>
<p-panel header="Identificação">
  <form [formGroup]="formProduto">
    <div class="ui-fluid">
      <div class="p-grid">
        <div class="p-col-2">
          Código
          <input type="text" pInputText formControlName="id">
        </div>
        <div class="p-col-10">
          Nome (obrigatório)
          <input type="text" pInputText formControlName="nome">
        </div>
        <div class="p-col-10">
          Categoria
          <p-dropdown [options]="categoria" optionLabel="value" dataKey="key" formControlName="categoria" filter="true"></p-dropdown>
        </div>
        <div class="p-col-3">
          Unidade de medida
          <p-dropdown [options]="unidademedida" optionLabel="value" dataKey="key" formControlName="unidade" filter="true"></p-dropdown>
      </div>
        <div class="p-col-10">
          Estoque mínimo
          <input type="text" pInputText formControlName="estoque_minimo">
        </div>
        <div class="p-col-10">
          Valor de custo
          <input type="text" pInputText formControlName="valor_custo">
        </div>
        <div class="p-col-10">
          Valor de venda
          <input type="text" pInputText formControlName="valor_venda">
        </div>
        <div class="p-col-10">
          Situação
          <p-dropdown [options]="situacao" formControlName="situacao"></p-dropdown>
        </div>
        <!--
        <div class="p-col-3">
          Data de Nascimento
          <p-calendar formControlName="nascimento" dateFormat="dd/mm/yy" [locale]="ptBR" [showIcon]="true"></p-calendar>
        </div>
        -->
      </div>
    </div>
  </form>
</p-panel>
<br>
<div class='controles'>
  <button pButton type="button" label="Salvar" (click)="salvar()" class="ui-button-success"></button>
  <button pButton type="button" label="Cancelar" (click)="cancelar()" class="ui-button-secondary"></button>
</div>
